ul {

}

.row {
    display: inline-block;
    position: fixed;
    margin: 3px;
    width: 520px;
    height: 180px;
    background-color: #f2f2f2;
    border: 1px solid #696969;
}

.row .name {
    width: auto;
    margin-left: -27px;
    text-transform: uppercase;
    margin-top: -8px;
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    position: relative;
    list-style-type:none;
}

.row .interest{
    margin-left: -39px;
    border: 2px solid black;
    height: 100px;
    width: 270px;
    text-align: center;
    padding: 1px;
    font-family: arial narrow;
    font-size: 17px;
    line-height: 23px;
    position: absolute;
    list-style-type: square;
}


.row .social {
    margin-left: 10px;
}